<div class="container py-5">
  <div class="row">
    <div class="col-lg-6 py-5 lg-py-0">
      <div class="vstack gap-3">
        <h1 class="display-4">
          We provide the best
          <strong class="fw-semibold text-primary"> Web Development</strong>
          service
        </h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
          cumque voluptatem optio labore ut quas perferendis corporis officiis
          voluptate sed?
        </p>

        <div class="hstack gap-3">
          <a href="#" class="btn btn-primary px-4 py-2">Contact Us</a>
          <a href="#" class="btn btn-outline-primary px-4 py-2">Our Projects</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 py-5 lg-py-0">
      <form class="bg-white p-4 vstack gap-3 rounded shadow-sm">
        <p class="h2 text-center">Get a Perfect Quote</p>

        <div>
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" />
        </div>

        <div>
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>

        <div>
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" />
        </div>

        <div>
          <label for="message" class="form-label">Message</label>
          <textarea
            name="message"
            class="form-control"
            id="message"
            cols="30"
            rows="3"></textarea>
        </div>

        <button
          type="submit"
          class="btn btn-primary d-block w-100 text-uppercase py-2"
          >Submit
        </button>
      </form>
    </div>
  </div>
</div>
