// :root {
//   --primary: #6c55f9;
//   --secondary: #645f88;
//   --light: #f6f5fc;
//   --dark: #2d2b3a;
// }

.square-sm {
  width: 30px;
  height: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}
